<% include ./hf/header.ejs %>
<div class="page-content header-clear-medium">
    <div class="content-boxed">
        <div class="content">
            <h3 class="bolder">계좌 잔액</h3>
            <table class="table-borders">
                <tr>
                    <td>계좌 잔액</td>
                    <td id="ammount"></td>
                </tr>

            </table>
        </div>
    </div>

    <div class="content-boxed">
        <div class="content">
            <h3 class="bolder">계좌 거래내역</h3>
            <p>
                계좌의 거래내역을 조회합니다
            </p>

            <table class="table-borders">
                <tr>
                    <th>거래일</th>
                    <th>거래시간</th>
                    <th>입출금구분</th>
                    <th>통장인자내역</th>
                    <th>거래금액</th>
                    <th>잔액</th>
                </tr>
                <tbody id="transactionTable"></tbody>
            </table>
        </div>
    </div>
</div>
<script>
    function getQueryStringObject() {
        var a = window.location.search.substr(1).split('&');
        if (a == "") return {};
        var b = {};
        for (var i = 0; i < a.length; ++i) {
            var p = a[i].split('=', 2);
            if (p.length == 1)
                b[p[0]] = "";
            else
                b[p[0]] = decodeURIComponent(p[1].replace(/\+/g, " "));
        }
        return b;
    }

    var qs = getQueryStringObject();
    var jwtToken = sessionStorage.getItem('jwtToken');
    $.ajax({
        url: 'http://localhost:3000/balance',
        type: 'POST',
        headers: {
            'x-access-token': jwtToken
        },
        data: {
            finNum: qs.fin_use_num
        },
        success: function (data) {
            console.log(data);
            $("#ammount").html(data.balance_amt+'');
        }
    })
    $.ajax({
        url: 'http://localhost:3000/transaction_list',
        type: 'POST',
        headers: {
            'x-access-token': sessionStorage.getItem('jwtToken')
        },
        data: {
            finNum: qs.fin_use_num
        },
        success: function (data) {
            console.log(data);
            var resultList = data.res_list;
            for (let i = 0; i < resultList.length; i++) {
                const element = resultList[i];
                $("#transactionTable").append(
                    '<tr>' +
                    '<td>'+element.tran_date+'</td>' +
                    '<td>'+element.tran_time+'</td>' +
                    '<td>'+element.inout_type+'</td>' +
                    '<td>'+element.tran_type+'</td>' +
                    '<td>'+element.print_content+'</td>' +
                    '<td>'+element.tran_amt+'</td>' +
                    '</tr>'
                )
            }
        }
    })


</script>
<% include ./hf/footer.ejs %>
