<% include ./hf/header.ejs %>
<div class="page-content header-clear-medium">
        <div class="content-boxed">
            <div class="content">
                <h3 class="bolder">충전하기</h3>
                <table class="table-borders">
                    <tr>
                        <td>금액</td>
                        <td><input id='ammount' type="text"></td>
                    </tr>
                </table>
                <button>충전하기</button>
            </div>
        </div>
</div>    
<% include ./hf/footer.ejs %>
